<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Homepage</title>
</head>
<body>

    <header class="header-container">
        <h1>Homepage</h1>
        <nav>
            <ul>
                <li><a href="sign_in">Sign In</a></li>
                <li><a href="sign_up">Join Us</a></li>
            </ul>
        </nav>
    </header>

    <div class="container-homepage">

        <h1>This the mainpage</h1>
        <h2>Please, Sign In if you already have an account or Join Us if you are not a member yet</h2>

    </div>
</body>
</html>